.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  margin-top: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(20%, auto));
  max-width: 100%;
  width: var(--max-width);
  gap: 1rem;
  justify-items: center;
  align-items: center;
}

.poster {
  max-width: 70%;
  min-height: 70%;
  border-radius: 10px;
  transition: opacity 0.3s ease-in-out;
  opacity: 0.8;
}

.title {
  top: 2rem;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.infoTop {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.links {
  display: flex;
  gap: 1rem;
  margin: 2rem 0;
}

.links a {
  padding: 0.5rem 1rem;
  background-color: #2e2e2e;
  border-radius: 25px;
  color: aliceblue;
  text-align: center;
}

.credits {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  margin-top: 0.5rem;
}
.actor {
  display: flex;
  flex-direction: column;
  margin: 0.5rem 0;
  align-items: center;
}

.actorImg {
  max-width: 70%;
  min-height: 70%;
  border-radius: 10px;
}

/* Tablet and Smaller Desktop */
@media (max-width: 1200px) {
  .container {
    margin-top: 0;
  }
  .grid {
    grid-template-columns: repeat(1, 100%);
    justify-items: center;
    gap: 2rem;
  }
  .info {
    align-items: center;
    gap: 1rem;
  }
  .info p {
    text-align: center;
  }

  .credits {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(33% auto));
    margin-top: 0.5rem;
  }
}

@media (max-width: 700px) {
  .credits {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    margin-top: 0.5rem;
  }
}

@media (max-width: 500px) {
  .poster {
    max-width: 100%;
    min-height: 100%;
  }
  .links {
    display: flex;
    flex-direction: column;
  }

  .credits {
    display: grid;
    grid-template-columns: repeat(1, 100%);
  }
  .actorImg {
    max-width: 90%;
    min-height: 90%;
    border-radius: 10px;
  }
}
